  <div class="row" id="rootPageHead">
    <div class="col-sm-6" id="rootPageHeadFirstCol">
      <h3 id="title">FoodJunction</h3>
    </div>
    <div class="col-sm-6" id="rootPageHeadSecondCol">
      <div class="row"> 
        <div class="col-sm-12">
          <nav id="nav">
            <a routerLink='/home' class="link">Home</a>
            <a routerLink='/menu' class="link">Menu</a>
            <a routerLink='/contactUs' class="link">Contact Us</a>
            <a routerLink='/placeOrder' class="link">Place Order</a>
          </nav>
        </div>
      </div>

      <div class="row" id="search">
        <div class="col-sm-4 col-sm-offset-4" >
          <div id="search-box">
            <dl>
              <dt><input type="search" #searchBox (keyup)="search(searchBox.value)" />
                <span class="glyphicon glyphicon-search"></span>
              </dt>
              <dd *ngFor="let item of items" (click)="routeToFoodItem(item)" class="text-left" >
                  {{ item.name }}
              </dd>
            </dl>
          </div>
        </div>
      </div>  
    
    </div>
  </div>
  
  

  
      <router-outlet></router-outlet>
  
  
  <div class="row" id="btrow">
    <div class="col-sm-3"  style="text-align:center">
      <span style="position:relative;bottom:-15px; " >About</span>
    </div>
    <div class="col-sm-3" style="text-align:center">
      <span style="position:relative;bottom:-15px;" >Help Center</span>
    </div>
    <div class="col-sm-3" style="text-align:center">
      <span style="position:relative;bottom:-15px;color:white;" >Feedback</span>
    </div>
    <div class="col-sm-3" style="text-align:center">
      <span style="position:relative;bottom:-15px;color:white;"  >Contact Us</span>
    </div>
  </div>
